//
@mixin slide
    display: flex
    flex-direction: column
    gap: 2em
@mixin slide-side
    display: flex
    gap: 2em
@mixin noDeco
    text-decoration: none
    color: black
    cursor: pointer
    list-style: none
    border: none
    background-color: white
@mixin star
    margin: 0 auto
    padding: 0
    box-sizing: border-box


//COLORS
$grey_txt: #9C9C9C
$genre_txt: #88A4E8
$genre_box: #DBE3FF
$title: #110E47
$dark_mode: #15141F

//TEXT DECORATION
@font-face 
    font-family: Merriweather
    src: url(/font/Poppins/Poppins-Regular.ttf)

