@use '../styling/base'

*
    @include base.star

body
    margin: 24px
    font-family: Merriweather

p, h1, h2, h3, .details-title
    color: black // Default color is black in light mode
    

/* Dark Mode */

body.dark-mode
    background-color: base.$dark_mode
    color: white

.dark-mode p, .dark-mode h1, .dark-mode h2, .dark-mode h3
    color: white // Change to white in dark mode

.dark-mode .details-title
    color: white // Change to white in dark mode

.dark-mode button
    background-color: base.$dark_mode
    color: white
.dark-mode img.menu-icon
    background-color: blue
    color: blue

.dark-mode article
    color: white

.dark-mode strong
    color: white

a, li, button
    @include base.noDeco

a
    margin-left: 0
    margin-right: 10px
    background: rgba(0,0,0,0)
p
    margin-left: 0

.genre-con
    margin: 1em
header
    display: flex
    margin: 10px 0px 10px 0px

footer
    @include base.slide-side
    .icon-save, .icon-ticket
        font-size: 24px
    .icon-bookmark
        font-size: 40px
        padding-top: 10px
#index-title
    font-size: 16pt

#movie--title
    font-size: 20pt
    font-weight: bold

.popular-container
    @include base.slide
    article
        margin: 0
    img
        border-radius: 20px
        height: auto
        width: 85px
.now-showing-container
    @include base.slide-side
    article
        img
            border-radius: 20px
            height: auto
            width: 143px

.actor-img
    height: 76px
    width: auto
    border-radius: 10px

.detailMovie-img
    height: auto
    width: 100%

.detailMovie-img-con
    height: 300px
    width: 375px
    overflow: hidden

.details-con
    border-radius: 20px 20px 0px 0px

.home-movie-details
    display: flex
    flex-direction: column
    margin-left: 10px

.genre
    background-color: base.$genre_box
    border-radius: 100px
    color: base.$genre_txt
    padding: 3px
    margin: 8px

.popular-genre
    margin: 8px 5px 8px 0px

.popular-list
    display: flex

.nowShowing-title, .popular-title
    padding-bottom: 10px

.cast-list
    @include base.slide-side
    max-width: 375px
    overflow-x: scroll
    padding-bottom: 10px

.details-info-container
    display: flex
    margin: 10px

.details-info-title
    color: base.$grey_txt

.icon-menu
    font-size: 30px

.details-title
    margin-left: 0
    margin: 24px 0px 10px 0px
