@use '../styling/base'

*
    margin: 0 auto
    padding: 0
    box-sizing: border-box

body
    margin: 24px

a
    @include base.noDeco

header
    display: flex
    margin: 10px 0px 10px 0px
    
.index-title
    font-size: 16pt

.popular-container
    @include base.slide
    article
        margin: 0
    img
        border-radius: 20px
        height: auto
        width: 85px
.now-showing-container
    @include base.slide-side
    article
        img
            border-radius: 20px
            height: auto
            width: 143px

.actor-img
    height: auto
    width: 72px

.detailMovie-img
    height: auto
    width: 375px

.genre
    background-color: base.$genre_box
    border-radius: 100px
    color: base.$genre_txt
    padding: 4px 12px 4px 12px

.popular-genre
    margin: 8px 5px 8px 0px

.nowShowing-title, .popular-title
    padding-bottom: 10px

.cast-list
    @include base.slide-side

